{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div class="border">
    <label alt="{{ code }}" class="smallfont">Error: {{ code }}</label>

    <p class="medfont">
    {{ message }}
    </p>

    <pre style="font-size:6px;">
********************************************************************
*                                                                  *
*                        *****************                         *
*                   ******               ******                    *
*               ****                           ****                *
*            ****                                 ***              *
*         ***                                       ***            *
*        **            ***               ***           **          *
*       **           *******           *******          ***        *
*      **            *******           *******            **       *
*     **             *******           *******             **      *
*    **                ***               ***                **     *
*    **                                                     **     *
*    **                   ***************                   **     *
*    **              ******             ******              **     *
*    **           ****                       ****           **     *
*     **        ***                             ***        **      *
*      **      **                                 **      **       *
*       ***                                             ***        *
*         **                                            **         *
*          ***                                       ***           *
*            ****                                 ****             *
*               ****                           ****                *
*                   ******               ******                    *
*                        *****************                         *
*                                                                  *
********************************************************************
    </pre>
    </div>
{% endblock %}
