{% extends "layout.html" %}

{% block title %}
    Terms and conditions
{% endblock %}

{% block main %}

<div class="terms">
<label class="title">Terms and conditions</label>
<p class="title1">GiveItAway "Terms and Conditions"</p>
<p class="par">
When "Receiving" or "Donting" an "Product/Item", you must agree with this "GiveItAway Terms and Conditions"
<br>- You agree not to use this platform for the interchanging of new products
<br>- You agree not to interchange illegal or harmful products/items
<br>- You agree to receive or donate the "Product/Item" requested/offered in between the "Days for pick up" or
<br> coordinate a new margin with the "Receiver"/"Donor".
<br>- You agree to use this platform at your own risk.
</p>
<input type="button" class="btn btn-primary" value="Go Back" onclick="history.back(-1)" />
</div>

{% endblock %}
